extends ../layout

block content
    .container
        .row.col-xs-7
            form.form-horizontal(method="post", action="/admin/movie/new")
                input(type="hidden", name="movie[_id]", value="#{movie._id}")
                .form-group
                    label.col-sm-2.control-label(for="inputUrl") 资源地址
                    .col-sm-10
                        input#inputUrl.form-control(type="text", name="movie[url]", value="#{movie.url}")
                .form-group
                    label.col-sm-2.control-label(for="inputSubtitle") 资源名称
                    .col-sm-10
                        input#inputSubtitle.form-control(type="text", name="movie[subtitle]", value="#{movie.subtitle}")
                .form-group
                    label.col-sm-2.control-label(for="inputPlayCount") 播放次数
                    .col-sm-10
                        input#inputPlayCount.form-control(type="text", name="movie[playCount]", value="#{movie.playCount}")
                .form-group
                    label.col-sm-2.control-label(for="inputDuration") 播放时长
                    .col-sm-10
                        input#inputDuration.form-control(type="text", name="movie[duration]", value="#{movie.duration}")
                .form-group
                    label.col-sm-2.control-label(for="inputUpCount") 点赞数
                    .col-sm-10
                        input#inputUpCount.form-control(type="text", name="movie[upCount]", value="#{movie.upCount}")
                .form-group
                    label.col-sm-2.control-label(for="inputDownCount") 点踩数
                    .col-sm-10
                        input#inputDownCount.form-control(type="text", name="movie[downCount]", value="#{movie.downCount}")
                .form-group
                    label.col-sm-2.control-label(for="inputCommentCount") 评论数
                    .col-sm-10
                        input#inputCommentCount.form-control(type="text", name="movie[commentCount]", value="#{movie.commentCount}")
                .form-group
                    label.col-sm-2.control-label(for="inputShareCount") 分享数
                    .col-sm-10
                        input#inputShareCount.form-control(type="text", name="movie[shareCount]", value="#{movie.shareCount}")
                .form-group
                    label.col-sm-2.control-label(for="inputScore") 得分
                    .col-sm-10
                        input#inputScore.form-control(type="text", name="movie[score]", value="#{movie.score}")
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") 录入