extends ../layout

block content
    .container
        .row.col-xs-12
            form.form-horizontal(method="get", action="/admin/movie/search")
                .form-group
                    .col-xs-3
                    .col-xs-5
                        input.form-control.resource(type="text" name="q" value="蜀山战纪第3季" placeholder="请输入名称")
                    .col-xs-4
                        .btn.btn-primary.add-track 添加
                        button.btn.btn-primary(type="submit") 查找
        .row.col-xs-12
            table.table.table-hover.table-border.list.track
                thead
                    tr
                        th 
                        th 集数
                        th 专辑名称
                        th 资源名称
                        th 当前状态
                        th 播放时长
                        //- th 发布时间
                        th 下次同步时间
                        th 操作
                tbody
                    each item in movies
                        tr(class="item-id-#{item._id}")
                            input(type="hidden" name="url" value=item.url)
                            td
                                label.checkbox
                                    input(type="checkbox" name="subBox")
                            td #{item.vn}
                            td #{item.title}
                            td #{item.subtitle}
                            td.state #{item.state==true?'进行中':'已停止'}
                            td #{item.duration}
                            //- td.time #{moment(item.publishTime).format('MM/DD/YYYY h:mm:ss a')}
                            td.time #{item.next_sync_time===0?'--':moment(item.next_sync_time).format('MM/DD/YYYY h:mm:ss a')}
                            td.op
                                if item.state == true
                                    .btn.btn-success.btn-sm.start-track(disabled="disabled") 开始
                                    .btn.btn-warning.btn-sm.stop-track 停止
                                else
                                    .btn.btn-success.btn-sm.start-track 开始
                                    .btn.btn-warning.btn-sm.stop-track(disabled="disabled") 停止
                                .btn.btn-danger.btn-sm.del(data-id="#{item._id}") 删除
                    if movies.length > 0
                        tr
                            td
                                label.checkbox.all 
                                    input(type="checkbox") 
                            td 
                            td
                            td
                            td
                            td
                            td
                            td.op
                                .btn.btn-success.btn-sm.start-track 开始
                                .btn.btn-warning.btn-sm.stop-track 停止
                                .btn.btn-danger.btn-sm.del 删除
            .page
                ul.page-movie
    script(src="/js/movie.js")
    script(src="/js/bootstrap-paginator.min.js")
