extends ../layout

block content
    .container
        .row
            table.table.table-hover.table-border.list
                thead
                    tr 
                        th 资源名称
                        th 播放数量
                        th 播放时长
                        th 点赞数
                        th 点踩数
                        th 评论数
                        th 分享数
                        th 得分
                        th 操作
                tbody
                    each item in movies
                        tr(class="item-id-#{item._id}")
                            td #{item.subtitle}
                            td #{item.playCount}
                            td #{item.duration}
                            td #{item.upCount}
                            td #{item.downCount}
                            td #{item.commentCount}
                            td #{item.shareCount}
                            td #{item.score}
                            td.op
                                .btn.btn-danger.btn-sm.del(data-id="#{item._id}") 删除
    script(src="/js/movie.js")  