extends ../layout

block content
    .container
        .row.col-xs-12
            h4 输入资源地址
            form.form-horizontal(method="get", action="/admin/movie/search")
                .form-group
                    .col-xs-7
                        //- http://www.iqiyi.com/v_19rrocjt3c.html
                        //- http://www.iqiyi.com/v_19rrkqco7o.html
                        input.form-control.resource(type="text" name="url" value="http://www.iqiyi.com/v_19rrkkhmv8.html")
                    .col-xs-5
                        button.btn.btn-primary(type="submit") 查找
                        .btn.btn-primary.add-track 添加
        .row.col-xs-10.myAlert
            .alert.alert-warning.alert-dismissible.hide(role="alert")
                button.close
                    span(aria-hidden="true") &times;
                span
        .row
            table.table.table-hover.table-border.list
                thead
                    tr
                        th 资源名称
                        th 播放数量
                        th 播放时长
                        th 点赞数
                        th 点踩数
                        th 评论数
                        th 分享数
                        th 得分
                        th 操作
                tbody
                    each item in movies
                        tr(class="item-id-#{item._id}")
                            td #{item.subtitle}
                            td #{item.playCount}
                            td #{item.duration}
                            td #{item.upCount}
                            td #{item.downCount}
                            td #{item.commentCount}
                            td #{item.shareCount}
                            td #{item.score}
                            td.op
                                .btn.btn-danger.btn-sm.del(data-id="#{item._id}") 删除
    script(src="/js/movie.js")
